<%- include("./layouts/header"); -%>

    <h1>
        <%=val %>
    </h1>

    <div style="width: 50%; margin: auto;">

        <table class="table">
            <thead>
                <tr>
                    <th>SUBJECT</th>
                    <th>MARKS OBTAINED</th>
                </tr>
            </thead>
            <% result.forEach((e)=>{ %>
                <tbody>
                    <tr>
                        <th>
                            <%=e.subject%>
                        </th>
                        <td>
                            <%=e.mark%>
                        </td>
                    </tr>
                </tbody>
                <% }) %>
        </table>

    </div>
    <%- include("./layouts/footer"); -%>